fastapi
uvicorn[standard]
python-multipart
python-dotenv
langchain
langchain-community
langchain-google-genai
langchain-core
langchain-text-splitters
langchain-chroma
langchain-ollama
chromadb
PyMuPDF
Pillow
pytesseract
instructor
openai
google-generativeai
pydantic
pydantic-settings
